@import 'styl/*'


body
    background blue
    color grey
    border 1px solid @color 
    margin-left -10px
    main 
        color: grey
        margin-left abs(@margin-left)
        // background rgba(blue,.9)
        // background grayscale(blue)
        // background tint(blue,80%)
        background complement(blue)
        cf()