body {
  background: #2d7586;
  color: #eee;
  border: 1px solid #eee;
  margin-left: -10px;
}
body main {
  color: #eee;
  margin-left: 10px;
  margin: 10px 30px;
  background: #863e2d;
  zoom: 1;
}
body main:after,
body main:before {
  content: "";
  display: table;
}
body main:after {
  clear: both;
}
