table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,th{
  border: 1px solid darkgreen;
  padding: 7px;
}
th{
  font-weight: bold;
  text-transform: uppercase;
}
tr:nth-child(even){
  background-color: darkseagreen;
}
tr:hover{
  background-color: dodgerblue;
  color: antiquewhite;
}