*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.tabsBox{
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 200px auto;
}
.Navi{
  display: flex;
  justify-content: flex-start;
  border-top: 2px solid #eee;
  border-right: 2px solid #eee;
  border-left: 2px solid #eee;
}
ul {
  display: flex;
  flex-basis: 760px;
  list-style: none;
}
ul li{
  position: relative;
  flex-basis: 100px;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
}
.activeli{
  border-bottom: none;
}
.delBtn{
    position: absolute;
    right: 0;
    top:-3px;
    font-size: 12px;
}
.delBtn:hover{
  cursor: pointer;
}
.addTab{
  flex-basis: 20px;
}
.addTab span{
  position: absolute;
  right: 4px;
  display: inline-block;
  width: 20px;
  border: 1px solid khaki;
  text-align: center;
}
.tabsContent{
  min-height: 400px;
}
.tabsContent section{
  display: none;
}
.tabsContent .activeContent{
  display: block;
}
