*{
  padding: 0;
  margin: 0;
}
#outer{
  width: 245px;
  height: 225px;
  margin: 50px auto;
  padding: 10px 0;
  background-color: yellowgreen;
  position: relative;
  overflow: hidden;
  
}

#imgList{
  list-style: none;
  position: absolute;
}
#imgList li{
  float: left;
  margin: 0 10px;
}

#navRect {
  position: absolute;
  bottom: 5%;
}

#navRect a{
  float: left;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color:#9c27b0;
}

#navRect a:hover{
  background-color: khaki;
}