cf()
    zoom 1
    &:after
    &:before
        content ""
        display table
    &:after
        clear both

marg(a)
        return a a*3

vendor(property,arg)
        {property} arg
        -webkit-{property} arg 
        -moz-{property} arg 

transition(args)
        vendor('transition',args)