header{
  border-bottom: 5px solid greenyellow;
  .navbar{
    display: flex;
    height: 60px;
    align-items: center;
    .logo{
      color: #16a085;
      font-weight: bold;
    }
    .collapse{
      display: flex;
      .links{
        display: flex;
      }
    }
  }
}