body{
  background: rgb(58, 58, 58);
  padding: 0;
  margin: 0;
}

/* header */

header{
  background-color: black;
  background-image: url("./img/bigcase.jpg");
  background-size: 100%;
  background-position: center;
  padding: 20px ;
  height: 400px;
  text-align: center;
  
}
header a{
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 40px;
}
header .logo a{
  background-image: url("./img/Newartisanweblogo.png");
  background-size: 300px;
  display: inline-block;
  width: 300px;
  background-repeat: no-repeat;
  height: 138px;
  text-indent: -999999px;
  position: relative;
  top: -68px;
}

nav ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
nav li{
  display: inline-block;
  margin-right: 20px;
}
.mobile{
  display: none;
}
/* responsive rules */
@media screen and (max-width: 725px){
  .desktop{
    display: none;
  }
  .mobile{
    display: inline-block;
  }
  header .logo a{
    top:-43px;
  }
}
.features{
  color: gainsboro;
  padding: 20px;
  display: flex;
  /* deafault */
  flex-direction: row; 
  /* justify-content: space-around; */
}
.features figure{
  /* display: inline-block; */
  width: 250px;
  margin: auto;
  text-align: center;
}
.features figure img{
  width: 250px;
  border-radius: 50%;
  box-shadow: gainsboro 0 0 5px;
}
footer{
  background: black;
  font-size: 12px;
  text-align: center;
  padding: 10px 20px;
}
header, footer{
  color: white;
  /* background: black; */
}

