<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>v-form</title>
  <style>
    form div:nth-child(4){
      height: auto;
    }
  </style>
</head>
<body>
  <div id="app">
    <form>
      <div>
        <span>Name:</span>
        <span>
          <input v-model="username" type="text" />
        </span>
      </div>
      <div>
        <span>Gender:</span>
        <span>
          <input type="radio" id="male" value="1" v-model="gender"/>
          <label for="male">Male</label>
          <input type="radio" id="female" value="0" v-model="gender"/>
          <label for="female">female</label>
        </span>
      </div>

      <div>
        <span>Favs:</span>
        <input type="checkbox" id="netflix" value="0" v-model="favs"/>
        <label for="netflix">Netflix and Chill</label>
        <input type="checkbox" id="coding" value="1" v-model="favs"/>
        <label for="coding">Coding</label>
        <input type="checkbox" id="workout" value="2" v-model="favs"/>
        <label for="workout">Workout</label>
      </div>

      <div>
        <span>Job:</span>
        <select v-model="occupation" multiple="true">
          <option value="0">please choose</option>
          <option value="1">coder</option>
          <option value="2">sanitor</option>
          <option value="3">butcher</option>
        </select>
      </div>

      <div>
        <!-- submit form -->
        <input type="submit" value="Submit" @click.prevent = "handleSubmit">
      </div>
    </form>
  </div>


  <script>
    var app = new Vue({
      el:'#app',
      data:{
        username: 'Cool Chimp',
        gender:0,
        favs:[1,2],
        occupation:[1]
      },
      methods: {
        handleSubmit() {
          // console.log(this.username)
          console.log(this.gender)
          console.log(this.favs.toString())
          console.log(this.occupation.toString())
        }
      },
    })

    var users = [
      {
        name: 'John',
        email: 'johnson@mail.com',
        age: 25,
        address: 'USA',
        type: 1
      },
      {
        name: 'Tom',
        email: 'tom@mail.com',
        age: 35,
        address: 'England',
        type: 2
      },
      {
        name: 'Lee',
        email: 'lee@mail.com',
        age: 18,
        address: 'England',
        type: 3
      },
      {
        name: 'yuta',
        email: 'yuta@mail.com',
        age: 48,
        address: 'Japan',
        type: 4
      },
    ];

    users = users.filter((item)=>{
      if(item.type == 2 || item.type == 4){
        return false
      }
      return true
    })
    console.log(users)
  </script>
</body>
</html>