<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>reVue helloworld</title>
  <style type="text/css">
  
  </style>
</head>
<body>
  <div id="app">
    <input type="text" v-model="newItem">
    <button @click="addItem">+</button>
    
    <ul>
      <li :key="index" v-for="(item,index) in stuff">
        {{item}}
      </li>
    </ul>
    {{info.gender}}
  </div>
  
  <script>
    var app = new Vue({
      el:'#app',
      data:{
        newItem:'',
        stuff:['cube','polygon','triangle'],
        info:{
          name:'bender',
          level: 2300
        }
      },
      methods: {
        addItem() {
          this.stuff.push(this.newItem)
          this.newItem = ''
        }
      },
    })

    // app.stuff[3] = 'lemon'
    // 动态处理响应式数据
    Vue.set(app.stuff,3,'lemon')
    app.$set(app.info,'gender','female')
  </script>
</body>
</html>