<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>table</title>
  <style>
    #app{
      min-height: 400px;
    }
    table{
      width: 100%;
      height: 100%;
    }
    thead tr{
      height: 35px;
      background: slateblue;
    }
    tr{
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="book">
      <label for="id">No.</label>
      <input type="text" id="id" v-model="id" :disabled="permission">
      <label for="name">Name</label>
      <input id="name" id="name" v-model="name">
      <button @click="AddBook">Submit</button>
    </div>
    <table>
      <thead>
      <tr>
        <th v-for="(head,index) in th" :key="index">{{head.thead}}</th>
      </tr>
    </thead>
    <tbody>
      <tr :key="index" v-for="(book,index) in books">
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td>
          <a href="" @click.prevent="edit(book.id)">edit</a>
          <span>|</span>
          <a href="" @click.prevent>del</a>
        </td>
      </tr>
    </tbody>
    </table>
    
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        id:'',
        name:'',
        permission: false,
        th:[
          {
            thead: 'No.'
          },
          {
            thead: 'Name'
          },
          {
            thead: 'Author'
          },
          {
            thead: 'operation'
          }
        ],
        books: [
          {id:'001', name:'Promise Land', author: 'Obama'},
          {id:'002', name:'Born A Crime', author: 'Noah'},
          {id:'003', name:'Harry Potter', author: 'Rowling'},
        ]
      },
      methods: {
        edit(bookId) {
          // console.log(bookId)
          let book = this.books.filter((item) => {
            return item.id == bookId
          })
          // console.log(book)
          this.id = book[0].id
          this.name = book[0].name
          this.permission = true
        },
        AddBook(){
          if(this.permission){
            this.books.some((item) => {
              if(item.id == this.id){
                item.name = this.name
                // end iteration
                return true;
              }
            })
            this.permission = false
          }else{
            let book = {}
            book.id = this.id
            book.name = this.name
            this.books.push(book)
            this.id = ''
            this.name = ''
          }
          
        }
      },
    })
  </script>
</body>
</html>